<div class="d-flex flex-row">
  <% if user_signed_in? %>
    <div class="card card-home">
      <div class="card-header">
        Home
      </div>

      <div class="card-body">
        <% if user_signed_in? %>
          <h5><%=current_user.name %></h5>
          <%= button_to 'Go tweet', new_user_tweet_path(current_user), method: :get, class:"btn btn-primary"%>

            <ul class="list-group list-group-flush group-flush group-tweets">

              <% Tweet.order([created_at: :desc]).each do |tweet| %>
                
                <%if User.find_by(id: tweet.user_id).id==current_user.id%>
                  
                  
                  <li class="list-group-item">
                    <div class="d-flex flex-row">
                      <span class="fas fa-user-circle mini-profile-icon" aria-hidden="true"></span>
                      <p class="card-text name-label-tweet"><%=current_user.name%></p>
                      <p class="card-text username-label-tweet"> <%=link_to "@#{current_user.username}", username_path(current_user.username) %></p>
                      <p class="time-ago-label"><%= time_ago_in_words(tweet.created_at) %> ago</p>
                    </div>
                    <p class="tweet-style"><%=tweet.post%></p>
                  </li>
      
                  <%else%>

                    <%if current_user.followings.include?(User.find_by(id: tweet.user_id)) %>
                      <li class="list-group-item">
                        <div class="d-flex flex-row">
                          <span class="fas fa-user-circle mini-profile-icon" aria-hidden="true"></span>
                          <p class="card-text name-label-tweet"><%=User.find_by(id: tweet.user_id).name%></p>
                          <p class="card-text username-label-tweet"> <%=link_to "@#{User.find_by(id: tweet.user_id).username}", username_path(User.find_by(id: tweet.user_id).username) %></p>
                          <p class="time-ago-label"><%= time_ago_in_words(tweet.created_at) %> ago</p>
                        </div>
                        <p class="tweet-style"><%=tweet.post%></p>
                      </li>
                    <%end%>

                <%end%>     
                           
              <% end %>
            </ul>

        <%end%>
      </div>
    </div>
  <%end%>

  <% if user_signed_in? %>
    <div class="card follow-card">

      <div class="card-header">
        Who to follow
      </div>

      <ul class="list-group list-group-flush">
        <% @users.each do |user| %>
          <%if user!=current_user%>
            
            <li class="list-group-item list-group-follow">
              <div class="d-flex flex-row">

                <div>
                  <h5 class="card-title"><%=user.name%></h5>
                  <div class="d-flex flex-row name-username-followview">
                    <%=link_to "@#{user.username}", username_path(user.username) %>
                    <span class="badge badge-secondary badge-follow">Follows you</span>
                  </div>
                </div>

                <%if current_user.followings.include?(user) %>
                  <%= button_to 'Unfollow', unfollow_user_path(user), method: "POST", class:"btn btn-outline-primary btn-sm follow-button-index"%>
                  <%else%>
                    <%= button_to 'Follow', follow_user_path(user), method: "POST", class:"btn btn-outline-primary btn-sm follow-button-index"%>
                <%end%>

              </div>
            </li>
            
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>






