<div class="card show-card">
  <div class="card-header">
    <div class="d-flex flex-row">
      <%= link_to users_path do %>
        <span class="fas fa-arrow-left arrow-left-icon" aria-hidden="true"></span>
      <% end %>
      
      <h2 class="username-profile-label" ><%=@user.name%></h2>      
    </div>
  </div>
  <div class="card-body">
    <span class="fas fa-user-circle profile-picture" aria-hidden="true"></span>
    
    <div>
      <h5 class="card-title"><%=@user.name%></h5>
      <p class="card-text username-label">@<%=@user.username%></p>
    </div>
    <%if @user==current_user%>
      <%= button_to 'Edit profile', edit_user_registration_path, method: :get, class:"btn btn-outline-primary edit-user-button"%>  
      <%else%>
        <%if current_user.followings.include?(@user)%>
          <%= button_to 'Unfollow', unfollow_user_path(@user), method: "POST", class:"btn btn-outline-primary edit-user-button"%>
          <%else%>
            <%= button_to 'Follow', follow_user_path(@user), method: "POST", class:"btn btn-outline-primary edit-user-button"%>
        <%end%>

    <%end%>
    
    <div class="d-flex flex-row follow-section">
      <p class="card-text following-label"><%=link_to "#{@user.followings.count} following", users_followview_path(@user.username) %> </p>
      <p class="card-text followers-label"><%=link_to "#{@user.followers.count} followers", users_followview_path(@user.username) %></p>
    </div>

      <ul class="list-group list-group-flush">
        <% @user.tweets.order(created_at: :desc).each do |tweet| %>
          <li class="list-group-item">
            <div class="d-flex flex-row">
              <span class="fas fa-user-circle mini-profile-icon" aria-hidden="true"></span>
              <p class="card-text name-label-tweet"><%=@user.name%></p>
              <p class="card-text username-label-tweet"> <%=link_to "@#{@user.username}", username_path(@user.username) %></p>
              <p class="time-ago-label"><%= time_ago_in_words(tweet.created_at) %> ago</p>
            </div>
            <p class="tweet-style"><%=tweet.post%></p>
          </li>
        <% end %>
      </ul>
      
  </div>
</div>