<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <nav class="navbar navbar-dark bg-dark">
    
      <a class="navbar-brand navbar-title">Twitter clone</a>
        <% if !user_signed_in? %>
          <%= button_to 'Sign up', new_user_registration_path, method: :get, class:"btn btn-primary signup-button"%>
          <%= button_to 'Sign in', new_user_session_path, method: :get, class:"btn btn-light signin-button"%>
          
          <%else%>
            <span class="label label-primary navbar-username-label"><%=current_user.name%></span>
            <%= button_to 'Log out', destroy_user_session_path, method: :delete, class:"btn btn-secondary signin-button"%>
        <% end %>
    </nav>

    <ul class="nav flex-column nav-flex">

      <span class="fas fa-kiwi-bird navbar-logo" aria-hidden="true"></span>

      <li class="nav-item">
        <%= link_to users_path do %>
          <span class="fas fa-home navbar-home-icon" aria-hidden="true"></span>
        <% end %>
      </li>
      <li class="nav-item">
        <% if user_signed_in? %>
          <%= link_to username_path(current_user.username) do %>
            <span class="fas fa-user-alt navbar-icon" aria-hidden="true"></span>
          <% end %>
        <% end %>
      </li>

      <li class="nav-item">
        <% if user_signed_in? %>
          <%= link_to new_user_tweet_path(current_user) do %>
            <span class="far fa-edit navbar-icon" aria-hidden="true"></span>
          <% end %>
        <% end %>
      </li>
      
    </ul>
    
    <%= yield %>
  </body>
</html>
